{% extends './baseTemplate.html.twig' %}
{% block body %}
  <h1>{% block title %}Hasła do witryn{% endblock %}</h1>
  <table class="table table-striped" id="datatables">
    <thead class="thead-dark">
      <tr>
        <td>Witryna</td>
        <td>Login</td>
        <td>Hasło</td>
        <td>Akcje</td>
      </tr>
    </thead>
    <tbody>
      {% for row in data %}
        <tr>
          <td>{{ row['website'] }}</td>
          <td>{{ row['login'] }}</td>
          <td class="password" value="{{row['id']}}">{{ row['password'] }}</td>
          <td>
            <button
                    class="btn btn-dark password-decrypt"
                    data-toggle="tooltip"
                    data-url="pokaz-haslo/{{row['id']}}/"

                    >
             <i class="fas fa-key"></i>
            </button>
            <a href="{{ url }}konto-usun/{{ row['id'] }}" class="btn btn-danger"> <i class="far fa-trash-alt"></i></a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tfoot>
  </table>

  <div class="modal" id="modal-password" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content modal-content-password">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title"></h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <div class="col-md-12">
            <label for="login" class="col-md-4 ">Login:</label>
            <div id="login" class="col-md-8 float-right">{{data['login']}} sdadddddddddd</div>
            <label for="password" class="col-md-4 ">Hasło:</label>
            <div id="passwd" class="col-md-8 float-right" >{{data['password']}}</div>
          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>


      </div>
    </div>
  </div>
  <br/><br/>
{% endblock %}
